*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    width: 100%;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.title {
    margin-bottom: 2rem;
}

.title h2 {
    font-size: 2.5rem;
    color: #333;
}

.underline {
    width: 5rem;
    height: 0.25rem;
    background-color: #333;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.review {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.img-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.img-container img {
    width: 300px;
    height: 300px;
    border-radius: 10%;
    margin-bottom: 1.5rem;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.button-container button {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
}

.name {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    color: #333;
}

.price {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #777;
}

.prev-btn,
.next-btn {
    font-size: 1.8rem;
    border: none;
}

.prev-btn i,
.next-btn i {
    color: #333;
}
